<div style="display: flex; align-items: center; justify-content: center; width: 100%; height: 100%;">
    <form class="main_form">
        <mat-form-field class="myField" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="email" [formControl]="email"/>
            <mat-error>Valid Email is Required</mat-error>
        </mat-form-field>
    
        <mat-form-field class="myField" appearance="outline" style="margin-top: 1rem;">
            <mat-label>Password</mat-label>
            <input matInput type="password" [formControl]="password"/>
            <mat-error>Valid Password is required</mat-error>
        </mat-form-field>
    
        <div style="display: flex; justify-content: space-evenly;">
            <button type="submit" (click)="logIn()" mat-raised-button color="primary">Login</button>
            <button mat-button (click)="navigateToSignup()">Sign Up Instead</button>
        </div>
    </form>
</div>