<div style="display: flex; align-items: center; justify-content: center; width: 100%; height: 100%;">
    <form class="main_form">

        <div class="listBody" *ngFor="let item of cartDataService.cartList; let i=index;">
            <div>
                <img style="display: inline-block; height: 30px; width: 30px; margin-right: 1rem;" [src]="item.image">
                <span style="display: inline-block;">{{item.name}}</span>
            </div>
            <span (click)="deleteItemFromCart(i)" class="delete_icon"><mat-icon>delete</mat-icon></span>
        </div>
        <p *ngIf="!cartDataService.cartList.length" style="text-align: center;"> Cart is empty! </p>
    
        <div style="display: flex; justify-content: center;">
            <button type="submit" mat-raised-button color="primary"
            [disabled]="!cartDataService.cartList.length" (click)="openSnackBar()">Order Now</button>
        </div>
    </form>
</div>