<header>
    <span class="title" (click)="navigateToList()"><strong>Shopping App</strong></span>
    <div class="right_side">
        <span *ngIf="cartDataService.isLoggedIn && cartDataService.isListPage" (click)="navigateToCart()" class="cart">
            <mat-icon style="margin-top: 1rem;">shopping_cart</mat-icon>
            <small>{{cartDataService.cartList.length}}</small>
        </span>
        <button *ngIf="cartDataService.isLoggedIn" class="avatar" mat-button [matMenuTriggerFor]="menu">{{cartDataService.shortName}}</button>
        <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="clearCartAndLogout()">Clear cart and Logout</button>
        </mat-menu>
    </div>
</header>

<router-outlet></router-outlet>

<footer>All Rights Reserved © by Rajiv Sarkar</footer>
